<v-verticail-layout width-full>

<!-- 	<v-panel _id="callendarPanel" caption="a">-->
			<v-panel _id="dateSelectPanel">
 				<v-vertical-layout>	
<!--  					<v-horizontal-layout>
 						<v-inline-date-field _id="januar"></v-inline-date-field>
 					</v-horizontal-layout> -->
					<v-horizontal-layout>
						<v-date-time-field _id="startDate"></v-date-time-field>
						<v-date-time-field _id="endDate"></v-date-time-field>
						<v-native-select _id="dayType"></v-native-select>
						<v-button _id="saveButton"></v-button>
					</v-horizontal-layout>
				</v-vertical-layout>
			</v-panel>	
			<v-grid _id="monthListCalendar" data-item-type="org.paduchk.domain.calendar.Month" width="100%"></v-grid>

<!--	</v-panel>	-->

</v-verticail-layout>