
<v-vertical-layout width-full>

	<v-horizontal-layout>
		<v-panel _id="employeePanel">
			<v-vertical-layout>		
				<v-text-field _id="firstName" />
				<v-text-field _id="lastName" />
				<v-text-field _id="email" />
				<v-combo-box _id="active"/>
				<v-combo-box _id="employeeType"/>
			</v-vertical-layout>
		</v-panel>	
	</v-horizontal-layout>
	<v-horizontal-layout>
		<v-button _id="saveButton"/>
		<v-button _id="cancelButton"/>		
	</v-horizontal-layout>
</v-vertical-layout>
