<v-verticail-layout width="-1">
	<v-grid _id="employeesTypeList" data-item-type="org.paduchk.domain.employee.EmployeeType" width="100%"></v-grid>
	<v-horizontal-layout>
		<v-button _id="addButton"></v-button>
		<v-button _id="editButton"></v-button>
		<v-button _id="removeButton"></v-button>
	</v-horizontal-layout>
</v-verticail-layout>