<v-verticail-layout>
	<v-grid _id="employeesList" data-item-type="org.paduchk.domain.employee.Employee" width="100%"></v-grid>
	<v-horizontal-layout>
		<v-button _id="addButton"></v-button>
		<v-button _id="editButton"></v-button>
		<v-button _id="removeButton"></v-button>
		<v-button _id="addUserButton"></v-button>
		<v-button _id="assignUserRoleButton"></v-button>		
	</v-horizontal-layout>
</v-verticail-layout>