<v-verticail-layout>
<!-- 
	<v-grid _id="employeesList" data-item-type="org.paduchk.domain.employee.Employee" width="100%">
		<table>
			<colgroup>
				<col column-id="firstName" sortable>
				<col column-id="lastName" sortable>
				<col column-id="email" sortable>
				<col column-id="active" sortable>
				<col column-id="employeeType" sortable>
			</colgroup>
			<thead>
			<tr default>
				<th plain-text column-ids="firstName">Imię</th>
				<th plain-text column-ids="lastName">Nazwisko</th>
				<th plain-text column-ids="email">E-mail</th>
				<th plain-text column-ids="active">Aktywny</th>
				<th plain-text column-ids="employeeType">Typ pracownika</th>
			</tr>
			</thead>
		</table>
	</v-grid>
-->
	<v-grid _id="employeesList" data-item-type="org.paduchk.domain.employee.Employee" width="100%"></v-grid>
	<v-horizontal-layout>
		<v-button _id="addButton"></v-button>
		<v-button _id="editButton"></v-button>
		<v-button _id="removeButton"></v-button>
	</v-horizontal-layout>
</v-verticail-layout>