
<v-vertical-layout width-full width="-1">
	<v-text-field _id="name" />	
	<v-horizontal-layout>
		<v-button _id="saveButton"/>
		<v-button _id="cancelButton"/>		
	</v-horizontal-layout>
</v-vertical-layout>
