<v-vertical-layout width-full>
	<v-horizontal-layout>
		<v-panel _id="loginAccountRolePanel">
			<v-vertical-layout>		
				<v-twin-col-select _id="roleSelect"/>
			</v-vertical-layout>
		</v-panel>	
	</v-horizontal-layout>
	<v-horizontal-layout>
		<v-button _id="saveButton"/>
		<v-button _id="cancelButton"/>		
	</v-horizontal-layout>
</v-vertical-layout>
