<v-vertical-layout width="100%">
	<v-panel _id="header" width="100%"><v-label>header</v-label> </v-panel>
	<v-horizontal-layout width="100%">
		<v-vertical-layout _id="menu" width="-1"></v-vertical-layout>
		<v-vertical-layout _id="content" :expand top-center></v-vertical-layout>
	</v-horizontal-layout>
	<v-panel _id="footer"> <v-label>footer</v-label> </v-panel>	
</v-vertical-layout>