@import "../valo/valo.scss";

$v-font-family: sans-serif;

.custom {
  @include valo;

  .v-caption-car-header {
    font-size: 40px;
    color: gainsboro;
    font-family: "Arial Black";
  }

  input::-webkit-input-placeholder {
    color: gainsboro !important;
  }

  .v-button-caption {
    font-family: Verdana;
    color: red;
  }

  .v-grid-column-default-header-content {
    font-weight: bold;
  }
 
  .v-grid-cell {
	display: block;
	float: left;
	padding: 2px;
	white-space: nowrap;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 16px;
	vertical-align: middle;
	horizontal-align: middle;
}
 
 
}